.bigcard{
    border: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    display: flex;
    flex-wrap: wrap;
    padding-left: 12% !important; 
}
.LoadingImage{
    filter:'blur(8px)';
    -webkit-filter: blur(8px);
}

@media (max-width:770px){
    .LoadingImage{
        width: 100% !important;
        height: 100% !important;
    }
}